@import "src/styles/variables";

.root {
  --swiper-theme-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$shade4};
  --swiper-pagination-bullet-inactive-opacity: 1;

  :global(.swiper) {
    padding-bottom: 30px !important;
  }
  :global(.swiper-pagination) {
    bottom: 0;
    :global(.swiper-pagination-bullet) {
      background: rgba($green, 0.2);
      margin-inline: 1rem;
    }

    :global(.swiper-pagination-bullet-active) {
      background: $green;
      width: 2rem;
      border-radius: 1rem;
    }

  }
}
